body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #89f7fe, #66a6ff);
    min-height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
}

.button {
    margin: 5px;
    padding: 8px 15px;
    min-width: 150px;   
    cursor: pointer;
    transition: 0.3s ease;
}

.add-button:hover {
    background-color: #45a049;
    color: white;
}

.delete-button:hover {
    background-color: red;
    color: white;
}

.update-button:hover {
    background-color: #45a049;
    color: white;
}

#inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#centerAlign {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todolist {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}