body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #45a049;
}

#centerAlign {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputDiv {
    display: flex;
    justify-content: center;
}

.button {
    margin: 5px;
}

#todolist {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}